<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyanjie.mechanical.dao.mapper.BannerDOMapper">
  <resultMap id="BaseResultMap" type="com.luoyanjie.mechanical.bean.entity.BannerDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="bind_id" jdbcType="INTEGER" property="bindId" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, bind_id, image, is_valid, user_id, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luoyanjie.mechanical.bean.entity.BannerDO" useGeneratedKeys="true" keyProperty="id">
    insert into banner (id, create_time, update_time, 
      bind_id, image, is_valid, 
      user_id, url)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{bindId,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{isValid,jdbcType=TINYINT}, 
      #{userId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luoyanjie.mechanical.bean.entity.BannerDO" useGeneratedKeys="true" keyProperty="id">
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="bindId != null">
        bind_id,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindId != null">
        #{bindId,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoyanjie.mechanical.bean.entity.BannerDO">
    update banner
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindId != null">
        bind_id = #{bindId,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoyanjie.mechanical.bean.entity.BannerDO">
    update banner
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      bind_id = #{bindId,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自定义sql-->
  <select id="selectLimit" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from banner
    where is_valid = 1
    order by create_time desc
  </select>
</mapper>