<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyanjie.mechanical.dao.mapper.CooperationCompanyDOMapper">
  <resultMap id="BaseResultMap" type="com.luoyanjie.mechanical.bean.entity.CooperationCompanyDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="biz_introduce" jdbcType="VARCHAR" property="bizIntroduce" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, image, name, biz_introduce, address, contact_phone,
    creator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cooperation_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cooperation_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luoyanjie.mechanical.bean.entity.CooperationCompanyDO" useGeneratedKeys="true" keyProperty="id">
    insert into cooperation_company (id, create_time, update_time,
      image, name, biz_introduce,
      address, contact_phone, creator
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{image,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{bizIntroduce,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luoyanjie.mechanical.bean.entity.CooperationCompanyDO" useGeneratedKeys="true" keyProperty="id">
    insert into cooperation_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="bizIntroduce != null">
        biz_introduce,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bizIntroduce != null">
        #{bizIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoyanjie.mechanical.bean.entity.CooperationCompanyDO">
    update cooperation_company
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bizIntroduce != null">
        biz_introduce = #{bizIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoyanjie.mechanical.bean.entity.CooperationCompanyDO">
    update cooperation_company
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      biz_introduce = #{bizIntroduce,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自定义sql-->
    <select id="searchForAdmin" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cooperation_company
        <where>
            <if test="name != null">
                and `name` like concat('%', #{name}, '%')
            </if>
            <if test="address != null">
                and `address` like concat('%', #{address}, '%')
            </if>
            <if test="contactPhone != null">
                and `contact_phone` like concat('%', #{contactPhone}, '%')
            </if>
        </where>
    </select>
</mapper>