<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lym.mechanical.dao.mapper.IntentionCustomDOMapper">
  <resultMap id="BaseResultMap" type="com.lym.mechanical.bean.entity.IntentionCustomDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="intention_custom_user_id" jdbcType="INTEGER" property="intentionCustomUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, user_id, intention_custom_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from intention_custom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from intention_custom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lym.mechanical.bean.entity.IntentionCustomDO">
    insert into intention_custom (id, create_time, update_time, 
      user_id, intention_custom_user_id)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{intentionCustomUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lym.mechanical.bean.entity.IntentionCustomDO">
    insert into intention_custom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="intentionCustomUserId != null">
        intention_custom_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="intentionCustomUserId != null">
        #{intentionCustomUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lym.mechanical.bean.entity.IntentionCustomDO">
    update intention_custom
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="intentionCustomUserId != null">
        intention_custom_user_id = #{intentionCustomUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lym.mechanical.bean.entity.IntentionCustomDO">
    update intention_custom
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      intention_custom_user_id = #{intentionCustomUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCardIdAndDate" resultType="com.lym.mechanical.bean.dto.my.CommonDTO">
    select intention_custom.user_id as userId,max(intention_custom.create_time) as createTime from intention_custom left join
    name_card_look_record on intention_custom.intention_custom_user_id = name_card_look_record.user_id
    left join car_user on name_card_look_record.user_id = car_user.id
    where name_card_look_record.card_id = #{cardId}
    <if test="hasDial != null and hasDial == 1">
      and name_card_look_record.has_dial = 1
    </if>
    <if test="hasMobile != null and hasMobile == 1">
      and car_user.phone is not null
    </if>
    group by intention_custom.user_id
    <if test="hasManyLook != null and hasManyLook == 1">
      having count(*) > 1
    </if>
    order by max(intention_custom.create_time) desc
  </select>
  <select id="selectBatchByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from intention_custom
    where
    <if test="userIds != null and userIds.size > 0">
      user_id in
      <foreach collection="userIds" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="userIds == null or userIds.size == 0">
      1 = 0
    </if>
  </select>
</mapper>